body{
  min-height: 100vh;
  background: #A1FFCE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;

}
/* h1{
  background-color: #14eb14;
  border-radius: 5px;
} */
.main {
  background-color: white;
  width: 50%;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}
.smain{
  background-color: white;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 5px;
}
.ninput {
  width: 100%;
  outline: 0;
  height: 30px;
  outline: none;
  border: 1px solid #DDDDDD;
  margin-bottom: 20px;
}
.ninput:focus {
  box-shadow: 0 0 5px #b4f5b4;
  border: 1px solid #b4f5b4;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
